@use "_base.scss";

.changeRoom{
    @include base.flex(flex-start, center, column);
    gap: 30px;
    margin: 10vh 5vw;
    h1{
        @include base.gradientText();        
        font-size: 2.5rem;
        font-weight: 500;
    }
    label{
        font-size: 1.3rem;
    }
    select{
        font-size: 1.3rem;
        padding: 10px;
        background: white;        
        border: 1px solid base.$extraLightColor;
        border-radius: 10px;
        color: base.$lightColor;
    }
    option{
        background-color: base.$lightColor;
        color: white;
    }
   .buttons{
       @include base.flex(flex-start, space-between);
       gap: 30px;
       button{
        font-size: 1.3rem;
        @include base.btn(base.$lightColor);        
        width: 350px;
       }
       button:last-child{
           @include base.btn(transparent,base.$darkColor);
           border: 1px solid base.$darkColor;
       }
    }
}