@use "_base.scss";
.roomInfo{
    margin: auto 2vw;
    gap: 30px;
    width: 70vw;
    h1{
        @include base.gradientText();
        font-size: 3rem;        
    }
    div{      
        margin-top: 50px;
        @include base.flex(flex-start, left, column);                         
        gap: 5px;
        h3{
            font-size: 1.5rem;
            font-weight: 600;
        }
        p{
            font-size: 2rem;
        } 
        table{
            text-align: center;
            border-collapse: collapse; 
            border-color: base.$darkColor;            
            padding: 15px;                        
            tr{                
                th{
                    font-size: 1.7rem;
                    font-weight: 600;  
                    border-color: base.$darkColor;  
                    padding: 10px;                
                }
                td{
                    font-size: 1.5rem;
                    padding: 10px;
                    border-color: base.$darkColor;
                }
                td:not(:nth-child(1)){
                    text-align: left;
                    padding: 3px 20px;
                }
            }
        }  
        button{
            @include base.btn();
            width: 200px;
            text-transform: capitalize;
            margin-top: 30px;
            font-size: 1.3rem;
        }     
    }
}
