@use "_base.scss";

.issueContainer {
  @include base.flex(flex-start, left, column);
  gap: 30px;
  width: 70vw;
  margin: auto 2vw;
  h1 {
    @include base.gradientText();
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 50px;
  }
  label {
    font-size: 1.3rem;
    padding: 10px;
  }
  select {
    font-size: 1.3rem;
    padding: 10px;
    background: white;
    border: 1px solid base.$extraLightColor;
    border-radius: 10px;
    color: base.$lightColor;
  }
  option {
    background-color: base.$lightColor;
    color: white;
  }
  button {
    font-size: 1.3rem;
    @include base.btn(base.$lightColor);
    width: 250px;
    margin-top: 30px;
  }
}
