@use "_base";
.userDashboard {
  @include base.flex(flex-start, space-between);
  gap: 30px;
}
.sideBar {
  @include base.flex(center, space-evenly, column);
  width: 30vw;
  height: 100vh;
  background-color: white;
  box-shadow: 1px 2px 7px rgb(194, 194, 194);
  border-radius: 0 75px 75px 0;
  .logo {
    img {
      width: 100px;
      mix-blend-mode: multiply;
      cursor: pointer;
    }
  }
  .title {
    background: base.$gradient2;
    width: 100%;
    margin-right: 15%;
    text-align: center;
    color: white;
    height: 75px;
    border-radius: 30px;
    font-size: 1.2rem;
    @include base.flex(center, flex-end);
    cursor: pointer;
    gap: 30px;    
    h3 {
      font-weight: 400;
      margin-right: 22%;
      transition: all ease-in-out, 0.3s;   
      &:hover {
        scale: 1.1;
      }
    }
  }
  .features {
    h2 {
      margin-bottom: 50px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    
    .feature {      
      @include base.flex(center, flex-start);
      gap: 10px;
      margin-bottom: 5px;
      outline: 1px solid white;
      padding: 10px;      
      img {
        width: 25px;
      }
      p {
        @include base.gradientText();
        font-size: 1.2rem;
        cursor: pointer;
      }
      &:hover {        
        outline: 1px solid base.$extraLightColor;
        padding: 10px;
        border-radius: 10px;    
        scale: 1.1;    
      }
    }
  }
}

.dashboard_container {
  @include base.flex(flex-start, top, column);
  width: 70vw;  
  margin: 5vh 2vw;
  .dashboard_navbar {
    @include base.flex(center, space-between);
    padding: 0 20px;
    align-self: flex-end;
    .userMenu {
      @include base.flex(center, space-between);
      gap: 20px;  
      position: relative;    
      img {
        height: 40px;
        width: 40px;
        background: base.$extraLightColor;
        border-radius: 50%;
        border: 0px solid base.$lightColor;
        padding: 5px;
        object-fit: contain;
        cursor: pointer;        
        transition: all ease-in-out, 0.3s;        
        &:hover{         
          scale: 1.1; 
          filter: drop-shadow(0px 0px 5px base.$lightColor);
        }
      }      
      span {
        color: base.$lightColor;
        font-weight: bold;
      }
      select {
        cursor: pointer;
        background: base.$extraLightColor;
        border: none;
        border-radius: 5px;
        color: white;
        width: 100px;
        text-align: center;
        padding: 5px;
      }
    }
  }
  h1 {
    margin-top: 60px;
    font-size: 2.5rem;
    @include base.gradientText();
  }

  .details {
    // @include base.flex(flex-start, left);
    margin-top: 45px;
    // gap: 20px;
    // width: 80%;
    // flex-wrap: wrap;
    display: grid;
    grid-template-areas: 
    "hdue hdue hdue mdue mdue mdue"
    "menu1 menu1 menu2 menu2 menu3 menu3";
    gap: 20px;
    .info {
      height: 100px;
      background-color: white;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 1px 2px 7px gray;
      @include base.flex(center, space-between);
      h2 {
        font-size: 2rem;
        font-weight: 500;
        color: base.$lightColor;
      }
      h3{
        font-size: 1.5rem;
      }
      // img {
      //   opacity: 0.6;
      // }
    }
    .action_menu {
      width: 250px;
      background: white;
      padding: 10px 15px;
      border-radius: 10px;
      box-shadow: 1px 2px 7px gray;
      @include base.flex(center, space-evenly, column);
      gap: 20px;
      cursor: pointer;
      transition: all ease-in-out, 0.3s;
      &:hover{
        background: base.$lightColor;
        color: white;           
        opacity: 0.89; 
      }
      &:hover button{        
        color: white;    
        border-color: base.$lightColor;    
        color: base.$lightColor;
        backdrop-filter: blur(10px);        
      }
      &:hover img{
        opacity: 1;
        filter: invert(1) ;
        transform: scale(1.2);
      }
      h3 {
        font-size: 1.5rem;
      }
      img {
        opacity: 0.5;        
        transition: all ease-in-out, 0.2s;                        
        // &:hover {
        //   transform: scale(1.2);          
        //   opacity: 1;
        //   filter: invert(1);
        // }
      }
      button {
        @include base.btn(WHITE, #7e7e7e);
        border: 1px solid #7e7e7e;
        font-weight: bold;
      }
    }
  }
  .hdue {
    grid-area: hdue;
  }
  .mdue {
    grid-area: mdue;
  }
  .menu1 {
    grid-area: menu1;
  }
  .menu2 {
    grid-area: menu2;
  }
  .menu3 {
    grid-area: menu3;
  }
}
